[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/djinni"]
	path = third_party/djinni
	url = https://github.com/dropbox/djinni
[submodule "third_party/gyp"]
	path = third_party/gyp
	url = https://chromium.googlesource.com/external/gyp
[submodule "third_party/xcode-googletest"]
	path = third_party/xcode-googletest
	url = https://github.com/mattstevens/xcode-googletest.git
[submodule "third_party/dropbox/nn"]
	path = third_party/dropbox/nn
	url = git@github.com:dropbox/nn.git
