[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/djinni"]
	path = third_party/djinni
	url = https://github.com/dropbox/djinni
